<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyu.mapper.RequestMapper">
    <!--动态sql-->
    <!-- 插入请求 -->
    <insert id="insertRequest">
        INSERT INTO requests
        (request_id, user_id, todepartment_id, approver_id, application_type, status, request_time, approval_time, leave_reason, reject_reason)
        VALUES
            (#{requestId}, #{userId}, #{todepartmentId}, #{approverId}, #{applicationType}, #{status}, #{requestTime}, #{approvalTime}, #{leaveReason}, #{rejectReason})
    </insert>
    <!-- 更新加入请求的状态和相关信息 -->
    <update id="updateRequest">
        UPDATE requests
        SET status = #{status}, message = #{message}, approval_time = #{approvalTime}
        WHERE request_id = #{requestId}
    </update>
    <update id="updateLeaveReason">
        UPDATE requests
        SET leave_reason = #{request.leaveReason}
        WHERE request_id = #{requestId}
    </update>
    <!-- 查询特定的加入请求 -->
    <select id="selectrequestById" resultType="com.xiaoyu.entity.Request">
        SELECT * FROM join_requests WHERE request_id = #{requestId}
    </select>

    <!-- 查询特定用户的所有加入请求 -->
    <select id="selectUserRequests" parameterType="long" resultType="com.xiaoyu.entity.Request">
        SELECT * FROM join_requests WHERE user_id = #{userId}
    </select>
</mapper>